# One option vs. multi-options model

In [1]:
from prayas import *

The one-option model is a special case of the multi-options model. This notebook demonstrates this on a simple example.

## Models

We define a **one option model** with three variants:

In [2]:
m1 = OneOptionModel(["Red", "Green", "Blue"], baseline="Red")

m1.set_result(successes=[209, 330, 408],
              trials=[236113, 236108, 243241])

We define a **multi-options model** with the same setup but with only one option per variant:

In [3]:
m2 = MultiOptionsModel(["Red", "Green", "Blue"], [1, 1, 1], baseline="Red")

m2.set_result(successes=[[209], [330], [408]], 
              trials=[236113, 236108, 243241])

## Comparison

In [4]:
m1.score_baseline()

,Variant,Measure,ProbabilityToBeBest,ProbabilityToBeatBaseline,UpliftFromBaseline,PotentialLossFromBaseline,MaxUplift,MaxPotentialLoss
0,Blue,conversion,0.9934,1.0,89.005237,0.0,89.117230,0.018491
1,Green,conversion,0.0066,1.0,57.574324,0.0,57.647873,16.632362
2,Red,conversion,0.0000,0.0,0.000000,0.0,-36.567492,47.131446

In [5]:
m2.score_baseline()

,Variant,Measure,ProbabilityToBeBest,ProbabilityToBeatBaseline,UpliftFromBaseline,PotentialLossFromBaseline,MaxUplift,MaxPotentialLoss
0,Blue,conversion,0.99285,1.0,89.079629,0.0,89.294771,0.017351
1,Green,conversion,0.00715,1.0,57.678296,0.0,57.716260,16.642239
2,Red,conversion,0.00000,0.0,0.000000,0.0,-36.594996,47.070653

We can see that the results are basically the same.